@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #FFFFFF;
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-weight: 500; */
    scroll-behavior: smooth;
    video::-webkit-media-controls {
        display:none !important;
      }
}

html {
    scroll-behavior: smooth;
  }